@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--blue: #2708a5;
	--brown: #a47449;
	--white: #fff;
	--black: #000;
	--almost-black: #141414;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	list-style-type: none;
}
body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #000;
}

.navigation {
	position: fixed;
	z-index: 9999;
	padding: 0em calc((100vw - 1200px) / 3);

	/* padding: 2rem calc((100vw - 1250px) / 3); */
	width: 100%;
	background: #fff;
}
.navbar {
	border-radius: 40px;
	padding-right: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.navbar_menu {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}

.link-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.menu-click {
	cursor: pointer;
}
.fa-chevron-up {
	font-size: 12px;
	transform: rotate(180deg);
	transition: all 0.5s ease-in-out;
}
.fa-chevron-up.active {
	transform: rotate(0deg);
	transition: all 0.5s ease-in-out;
}

/* .arrow-event {
	transform: rotate(90deg);
} */

.navbar_logo img {
	width: 80%;
}

.navbar_link {
	color: #000;
	text-decoration: none;
	/* padding: 0rem 2rem; */
	font-weight: 500;
}

.navbar_link:hover {
	color: var(--blue);
}

.navbar_link.navbar_button {
	padding: 0.8rem 2.5rem;
	background-color: var(--blue);
	color: var(--white);
	border-radius: 40px;

	&:hover {
		background-color: #4019d9;
	}
}
@media screen and (min-width: 768px) {
	.sub-menu {
		display: none;
		position: absolute;
		top: -800%;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		border-radius: 10px;
		border-top: #2708a5 10px solid;
		font-weight: 300;
		gap: 1rem;
		font-weight: 400;
		transition: all 0.5s ease-in-out;

		&.active {
			top: 80%;
			display: flex;
		}

		a,
		.dropDownBtn-Btn {
			padding-inline: 1rem;
			padding-block: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 0.5rem;
			font-weight: 500;
			color: #000;

			&:hover {
				background-color: #2708a5;
				color: #fff;
			}

			img {
				background: #f4f4f4;
				padding: 0.5rem;
				border-radius: 50%;
			}
		}
	}

	.events-drop {
		position: relative;
	}
	.events-drop-inner {
		display: none;
		position: absolute;
		left: 0105% !important;
		top: 50%;
	}
}

@media screen and (max-width: 768px) {
	body.active {
		overflow-y: hidden !important;
	}

	.navigation {
		padding: 0em calc((100vw - 1400px) / 2);
	}
	.navbar {
		border-radius: 0;
	}

	.navbar_logo img {
		width: 80%;
	}
	.link-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.sub-menu {
		display: none !important;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		border-radius: 10px;
		padding-left: 3rem;
		padding-top: 1rem;
		font-weight: 300;
		gap: 0.5rem;
		font-weight: 400;
		transition: all 0.5s ease-in-out;

		&.active {
			display: flex !important;
		}

		a,
		.dropDownBtn-Btn {
			padding-inline: 1rem;
			padding-block: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 0.5rem;
			font-weight: 500;
			color: #fff;

			&:hover {
				/* background-color: #2708a5; */
				color: #fff;
			}
		}
		img {
			background: #f4f4f4;
			padding: 0.5rem;
			border-radius: 50%;
			width: 5%;
		}
	}

	.events-drop {
		position: relative;
	}

	.events-drop-inner {
		display: flex;
		position: absolute;
		/* left: 010% !important; */
		z-index: 99;
		/* top: 0%; */
	}

	.navbar_link {
		display: flex;
		color: var(--white);
		font-weight: 600;
		align-items: center;
		justify-content: start;
	}
	.navbar_link.navbar_button {
		/* background-color: transparent; */
		color: var(--white);
		/* border-radius: 0; */
	}

	.navbar_menu {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 2rem;
		/* grid-template-columns: 2fr; */
		/* grid-template-rows: repeat(14, 10px); */
		position: absolute;
		/* gap: 0; */
		/* width: 100%; */
		top: -1000px;
		/* overflow-x: hidden; */
		/* overflow-y: hidden; */
		opacity: 0;
		transition: 0.3s ease-in-out;
		background: var(--almost-black);

		/* min-height: 100vh; */

		a {
			font-weight: 400;
		}
	}

	.navbar_menu.active {
		opacity: 1;
		top: 100%;
		opacity: 1;
		z-index: 999;
		min-height: 100vh;
		font-style: 1.5rem;
		background: var(--almost-black);
		padding: 2rem;
	}

	.navbar_toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: var(--black);
		display: block;
		cursor: pointer;
	}

	#mobile-menu {
		position: absolute;
		top: 15%;
		right: 5%;
		transform: translate(5%, 60%);
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}
	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/* HERO SECTION */

.hero {
	position: relative;
	padding: 0em calc((100vw - 1250px) / 3);
	/* padding: 0em 8rem; */
	color: #fff;
	/* background-image: url(/img/banner-img.png); */
	height: 85vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	transition: background-image 1s ease-in-out;
	z-index: 1;
	/* position: absolute; */
	.hero_text {
		margin-top: 5rem;
		max-width: 799px;
		padding-bottom: 1rem;
		z-index: 2;
	}

	h3 {
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 2px;
	}

	h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 80px;
	}

	p {
		max-width: 80%;
		font-size: 16px;
		line-height: 33px;
		font-weight: 400;
	}
}
.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: opacity 1s ease-in-out;
	z-index: 1;
}

.hero::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	z-index: 0;
}

.hero_three_head {
	align-items: center;
	display: flex;
	gap: 2rem;
	margin-top: 0.5rem;
	z-index: 2;
	img {
		width: 50%;
	}
}

.btn_btn {
	background-color: var(--blue);
	border-radius: 40px;
	border: none;
	color: var(--white);
	font-weight: 500;
	padding: 1rem 3rem;
	cursor: pointer;

	&:hover {
		background-color: #4019d9;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		align-items: center;
		padding: 0em 1rem;

		.hero_text {
			max-width: 100%;
			text-align: center;
		}

		h1 {
			font-size: 2.5rem;
			line-height: 50px;
		}
		p {
			max-width: 100%;
		}
	}
	.hero_three_head {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		img {
			width: 90%;
		}
	}
}
.blue-center {
	padding: 0em calc((100vw - 1250px) / 3);
	position: relative;

	/* padding-left: 8rem; */
	z-index: 2;
	width: 100%;
}
.blue_content {
	background: #2708a5;
	color: var(--white);
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: -70px;
	width: 25%;
	padding-block: 2rem;
	padding-inline: 1rem;
	gap: 1rem;
	border-radius: 10px;

	a {
		color: #fff;
		font-weight: 500;
		display: flex;
		align-items: center;
		gap: 10px;
		/* justify-content: center; */
	}

	.quotation {
		font-size: 2rem;
		display: flex;
	}

	.fa-quote-left {
		margin-bottom: -2rem;
		justify-content: flex-start;
	}
	.fa-quote-right {
		margin-top: -2rem;
		justify-content: flex-end;
	}

	p {
		font-size: 1rem;
		font-weight: 600;
		line-height: 30px;
		padding-inline-start: 2.1rem;
	}

	.blue-centerTop {
		display: flex;
		justify-content: space-between;
		padding-right: 4rem;
		align-items: center;
		h2 {
			font-size: 22px;
			font-weight: 600;
		}
	}

	.lord-icon-div {
		display: grid;
		place-content: center;
		width: 70px;
		height: 70px;
		background-color: #fff;
		border-radius: 50%;
	}

	.lord-icon-blue {
		width: 30px;
		height: 30px;
		cursor: progress;
	}
}

@media (max-width: 767px) {
	.blue-center {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.blue_content {
		margin-top: 10px;
		width: 100%;

		.blue-centerTop {
			padding-right: 1rem;
		}
	}
}

.home_about {
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding: 2rem calc((100vw - 1250px) / 3);
	padding-top: 3rem;
	padding-bottom: 5rem;
	gap: 5rem;

	.home_about_left {
		width: 50%;
		align-self: start;

		h3 {
			color: #2708a5;
			letter-spacing: 0px;
			font-weight: 500;
			font-size: 18px;
		}
		h1 {
			font-size: 45px;
			font-weight: 600;
			line-height: 54px;
			margin-block: 10px;
		}
		p {
			font-size: 1.0625rem;
			/* font-size: 17px; */
			font-weight: 400;
			line-height: 30px;
		}

		.home_about_leftSplit {
			display: flex;
			/* justify-content: space-between; */
			/* align-items: center; */
			/* margin-top: 3rem; */
			gap: 2rem;

			/* / */
			/**************************  IMAGE HOVER ANIMATION*****************/
			/**************************  IMAGE HOVER ANIMATION*****************/
			/*  */

			.imgAim {
				position: relative;
				z-index: 0;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.imgAim:hover::before {
				content: "Act Now";
				display: grid;
				place-content: center;
				color: #fff;
				font-weight: 700;
				font-size: 24px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				background-color: #2708a5b3;
				border-radius: 15px;
				opacity: 1;
				transition: opacity 0.6s ease-in-out;
				z-index: 1;
			}

			.imgAim::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #2708a5e0;
				border-radius: 15px;
				opacity: 0;
				transition: opacity 1s ease-in-out;
			}

			/* .imgAim {
            position: relative;
            transition: all 1s ease-in-out;
            z-index: 1;
         }

         .imgAim:hover:before {
            content: "Act Now";
            display: grid;
            place-content: center;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-color: #2708a5e0;
            border-radius: 15px;
            transition: all 1s ease-in-out;
         } */

			/***************************** IMAGE HOVER ANIMATION ENDS ***************************/

			ul {
				display: flex;
				align-items: start;
				flex-direction: column;
				gap: 2rem;
				padding-top: 1.9rem;
				li {
					display: flex;
					gap: 1rem;
					align-items: center;
					justify-content: center;
					/* padding-block: 0.3rem; */

					p {
						justify-self: center;
					}
				}

				button {
					padding: 1rem 4rem;
				}
			}
		}
	}

	.home_about_right {
		width: 50%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 3rem;
		grid-row-gap: 2rem;

		.tailoring_img,
		.meco_img,
		.student_img,
		.capentry_img {
			position: relative;
			z-index: 0;
		}
		.init_img {
			width: 100%;
			height: 100%;
		}

		.tailoring_img:hover::before,
		.meco_img:hover::before,
		.student_img:hover::before,
		.capentry_img:hover::before {
			/* content: "Tailoring/ Fashion Design Training "; */
			display: grid;
			place-content: center;
			text-align: center;
			color: #fff;
			font-weight: 700;
			font-size: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			background-color: #2708a5b3;
			border-radius: 15px;
			opacity: 1;
			transition: opacity 0.6s ease-in-out;
		}
		.capentry_img:hover::before {
			content: "Capentry Training";
		}
		.tailoring_img:hover::before {
			content: "Tailoring/ Fashion Design Training ";
		}
		.meco_img:hover::before {
			content: "Mechanic Training";
		}
		.student_img:hover::before {
			content: "Computer Training";
		}

		.tailoring_img::before,
		.meco_img::before,
		.student_img::before,
		.capentry_img::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #2708a5e0;
			border-radius: 15px;
			opacity: 0;
			transition: opacity 1s ease-in-out;
		}
	}
}

@media (max-width: 767px) {
	.home_about {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		gap: 2rem;

		.home_about_left {
			width: 100%;

			h3 {
				font-size: 16px;
			}
			h1 {
				font-size: 30px;
				line-height: 40px;
			}
			.home_about_leftSplit {
				flex-direction: column;
				margin-top: 3rem;
				gap: 0rem;

				/**************************  IMAGE HOVER ANIMATION*****************/
				/**************************  IMAGE HOVER ANIMATION*****************/

				/***************************** IMAGE HOVER ANIMATION ENDS ***************************/

				ul {
					gap: 0.5rem;
					button {
						margin-top: 0.5rem;
					}
				}
			}
		}

		.home_about_right {
			width: 100%;
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
		}
	}
}

.donation_section {
	/* padding-inline: 0em calc((100vw - 1250px) / 3); */
	/* padding-bottom: rem; */
	padding-block: 4rem;
	color: #fff;
	background-image: url(/img/donation-bkg.png);
	min-height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.donation_content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			font-size: 18px;
			font-weight: 400;
		}
		h1 {
			font-weight: 600;
			font-size: 40px;
		}
		p {
			margin-top: 1rem;

			font-size: 18px;
			font-weight: 400;
			line-height: 33px;
			max-width: 50ch;
			text-align: center;
		}
	}

	.donation_btns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		margin-top: 2rem;
		font-weight: 600;
		font-size: 20px;

		.make-donation-btn {
			background-color: #a47449;

			&:hover {
				background-color: #fff;
				color: #a47449;
			}
		}

		.about-us-btn {
			background-color: #fff;
			color: #000;
			font-weight: 600;

			&:hover {
				background-color: #ffffffbb;
			}
		}
	}
}

@media (max-width: 768px) {
	.donation_section {
		padding-inline: 1rem;
		padding-bottom: 4rem;
		padding-top: 3rem;
		text-align: center;

		.donation_content {
			h1 {
				font-weight: 600;
				font-size: 30px;
			}
			p {
				font-size: 17px;
				line-height: 30px;
			}
		}

		.donation_btns {
			gap: 1rem;
		}
	}
}

.video-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -19rem;

	.video-section-img {
		position: relative;
		width: 70%;
	}

	.lord-icon-div {
		display: grid;
		place-content: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 5px solid #fff;
		position: absolute;
		z-index: 1;
		right: 45%;
	}

	.lord-icon-vid {
		width: 50px;
		height: 50px;
		cursor: progress;
	}
}

@media (max-width: 768px) {
	.video-section {
		margin-top: 0rem;

		img {
			width: 100% !important;
			height: 100%;
		}

		.lord-icon-div {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 2px solid #fff;
			position: absolute;
			z-index: 1;
			right: 42%;
		}
	}
}

.explore-cause-section {
	padding-inline: calc((100vw - 1250px) / 3);

	padding-block: 8rem;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	gap: 5rem;

	.explore-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.explore-left-head {
			h2 {
				font-size: 18px;
				font-weight: 400;
			}
			h1 {
				font-size: 40px;
				font-weight: 600;
			}
		}

		.explore-right-head {
			border-left: 5px solid #a47449;
			padding-left: 1rem;

			h3 {
				font-size: 1rem;
				font-weight: 400;
				line-height: 33px;
				max-width: 70ch;
			}
		}
	}

	.explore-boxes {
		display: flex;
		gap: 3rem;

		.explore-box {
			position: relative;

			img {
				width: 100%;
			}

			.explore-box-content {
				background: #fff;
				position: absolute;
				bottom: 10px;
				margin: 2rem;
				padding: 1.5rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
				border-radius: 10px;

				h3 {
					font-size: 18px;
					font-weight: 600;
				}
				p {
					font-size: 16px;
					font-weight: 400;
					line-height: 25px;
				}

				img {
					width: 100%;
				}

				.box-btn {
					padding: 1rem 2rem;
				}
			}

			&:hover {
				.explore-box-content {
					background-color: #2708a5;
					color: #fff;

					.box-btn {
						background-color: #fff;
						color: #000;
					}
				}
			}
		}
	}

	.bottom-explore {
		display: flex;
		align-self: center;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		a {
			display: flex;
			gap: 10px;
			color: #2708a5;
			font-weight: 500;
		}
	}
}

@media (max-width: 767px) {
	.explore-cause-section {
		padding-inline: 1rem;

		padding-block: 3rem;
		gap: 2rem;

		.explore-heading {
			flex-direction: column;

			.explore-left-head {
				h1 {
					font-size: 30px;
					margin-block: 1rem;
				}
			}
		}

		.explore-boxes {
			display: flex;
			flex-direction: column;
			gap: 2em;
		}
	}
}

.apply-section {
	padding-inline: calc((100vw - 1250px) / 3);
	padding-block: 5rem;

	background-image: url(/img/apply-bkg.png);
	min-height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 7rem;
}

.apply-left-div {
	background-color: #f1f1f1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	border-radius: 15px;
	width: 1000px;

	h1 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}
.apply-container {
	margin: 0 auto;
	/* width: 80%0; */
	overflow-x: hidden;
	max-width: 900px;
	border-radius: 8px;
	overflow-y: auto;
	height: 400px;
	padding-right: 1rem;

	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		.form-row {
			/* border: 2px solid #000; */
			display: flex;
			flex-direction: column;

			label {
				font-size: 14px;
				margin-bottom: 5px;
				font-weight: 500;
			}

			input,
			select {
				padding: 10px;
				border: 0 solid #ccc;
				border-radius: 7px;
				width: 250px;
			}
			input[type="file"] {
				background-color: #fff;
			}
		}

		.form-row button {
			padding: 10px 20px;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
		}
	}
}
.apply-container::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	margin-left: 20px;
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2708a5;
}

.apply-right-div {
	color: #fff;

	.apply-right-heading {
		/* width: 700px; */
		h3 {
			font-size: 16px;
			font-weight: 600;
		}
		h1 {
			font-size: 37px;
			font-weight: 600;
		}
	}

	/* .apply-testimonial {
		background-color: #fff;
		border: #fff solid 2px;
		color: #000;
		padding: 3rem;
		border-radius: 15px;
		margin-top: 2rem;

		.testimonial-profile {
			display: inline-flex;
			gap: 1rem;
			justify-content: center;
			align-items: center;

			img {
				width: 60px;
			}

			.testi-name {
				h2 {
					font-weight: 600;
					font-size: 16px;
				}
				h4 {
					font-weight: 500;
					font-size: 15px;
					color: #222222;
					line-height: 30px;
				}
			}
		}
		p {
			font-weight: 500;
			font-size: 15px;
			color: #222222;
			line-height: 30px;
		}

		&:hover {
			background-color: var(--blue);
			color: #fff;

			* {
				color: #fff;
			}
			.testi-name {
				h4 {
					color: #fff;
				}
			}
		}
	} */

	.testimonial-slider {
		position: relative;
		width: 100%;
		min-height: 65vh;
		height: 100%;
		/* border: 2px solid yellow; */
		overflow: hidden;
	}

	.apply-testimonial {
		position: absolute;
		z-index: 6;
		top: 0;
		left: 100%;
		width: 100%;
		opacity: 1;
		background-color: #fff;
		border: #fff solid 2px;
		color: #000;
		padding: 3rem;
		border-radius: 15px;
		margin-top: 2rem;

		transition: opacity 1s ease-in-out, left 1s ease-in-out;
	}

	.apply-testimonial.active {
		left: 0;
		opacity: 1;
		transition: opacity 1s ease-in-out, left 1s ease-in-out;
	}

	.apply-testimonial .testimonial-profile {
		display: inline-flex;
		gap: 1rem;
		justify-content: center;
		align-items: center;
	}

	.apply-testimonial .testimonial-profile img {
		width: 60px;
	}

	.apply-testimonial .testimonial-profile .testi-name h2 {
		font-weight: 600;
		font-size: 16px;
	}

	.apply-testimonial .testimonial-profile .testi-name h4 {
		font-weight: 500;
		font-size: 15px;
		color: #222222;
		line-height: 30px;
	}

	.apply-testimonial p {
		font-weight: 500;
		font-size: 15px;
		color: #222222;
		line-height: 30px;
	}

	.apply-testimonial:hover {
		background-color: var(--blue);
		color: #fff;
	}

	.apply-testimonial:hover * {
		color: #fff;
	}

	.apply-testimonial:hover .testi-name h4 {
		color: #fff;
	}
}

@media (max-width: 768px) {
	.apply-section {
		padding-inline: 1rem;
		padding-block: 5rem;
		flex-direction: column;

		min-height: 0px;
		gap: 3rem;
	}

	.apply-left-div {
		padding: 2rem;
		border-radius: 15px;
		width: 100%;
	}
	.apply-container {
		height: 400px;
		padding-right: 0;

		form {
			grid-template-columns: 1fr;
			gap: 20px;

			.form-row {
				input,
				select {
					width: 100%;
				}
			}
		}
	}

	.apply-right-div {
		.apply-right-heading {
			h1 {
				font-size: 27px;
			}
		}
	}
}

footer {
	background-color: #141414;
	color: #fff;
	padding-inline: calc((100vw - 1250px) / 3);

	.footer-img-img {
		width: 80%;
	}

	.footer-container {
		padding-top: 4rem;
		padding-bottom: 1rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 0 auto;
		gap: 2rem;
		border-bottom: 1px solid #f4f4f4;
		/* padding: 0 20px; */

		.footer-column {
			flex: 1;
			margin: 10px;
			/* border: 1px solid; */

			&:first-child {
				flex: 1 1 10%;
				align-self: end;
			}
			&:last-child {
				flex: 1 1 10%;
				/* align-self: end; */
			}

			h4 {
				margin-bottom: 1.5rem;
				font-size: 20px;
			}

			ul {
				list-style: none;
				padding: 0;
				font-size: 15px;

				li {
					margin-block: 1rem;
				}
				a {
					color: #fff;
					text-decoration: none;

					&:hover {
						text-decoration: line-through;
					}
				}
			}

			.social-icons {
				margin-top: 20px;

				a {
					margin-right: 10px;
					display: inline-block;
				}

				img {
					width: 24px;
					height: 24px;
				}
			}
		}

		.newsletter {
			background-color: #fff;
			color: #000;
			padding: 1.5rem;
			border-radius: 15px;
			max-height: 250px;

			form {
				display: flex;
				flex-direction: column;
				margin-top: 1rem;

				input {
					background-color: #f4f4f4;
				}
			}

			input[type="email"] {
				padding: 10px;
				margin-bottom: 10px;
				border: none;
				border-radius: 5px;
			}
			button {
				padding: 10px;
				border: none;
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
			}
		}
	}

	.footer-copyright {
		display: grid;
		place-content: center;
		padding-block: 2em;
	}
}

@media (max-width: 1024px) {
	footer {
		.footer-column {
			img {
				width: 150px;
			}
		}
	}
}

.breadcrumb {
	padding-inline: calc((100vw - 1250px) / 3);
	color: #fff;
	background-image: url(/img/about-bread.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 1s ease-in-out;
	z-index: 1;
	padding-bottom: 5rem;
	padding-top: 12rem;

	h1 {
		font-size: 65px;
		font-weight: 700;
	}

	.back-to-home {
		display: flex;
		gap: 10px;
		background: #2708a590;
		padding: 1rem 1.5rem;
		border-radius: 20px;
		font-weight: 500;

		a {
			color: #fff;
		}
	}
}

.about-page {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem calc((100vw - 1250px) / 3);
	padding-top: 5rem;
	padding-bottom: 5rem;
	gap: 5rem;
}
.home_about_left {
	width: 40%;
	align-self: start;
	padding-top: 4rem;

	h3 {
		color: #2708a5;
		letter-spacing: 0px;
		font-weight: 500;
		font-size: 18px;
	}
	h1 {
		font-size: 45px;
		font-weight: 600;
		line-height: 54px;
		margin-block: 10px;
	}
	p {
		margin-top: 1rem;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
}

.btn-text-to-show {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	transition: display 0.5s ease-in;

	.btn-div {
		display: flex;
		gap: 1rem;

		button {
			border: none;
			background: transparent;
			border-bottom: 5px solid #2708a597;
			/* border-bottom: 5px solid #a4744966; */
			padding: 1rem 2rem;
			cursor: pointer;
			font-weight: 600;
		}

		button.active {
			color: #fff;
			background: #2708a5;
			font-weight: 500;
			border-radius: 15px;
		}
	}

	.active {
		font-weight: bold;
		background-color: #ddd;
		transition: display 0.5s ease-in;
	}
	.hidden {
		display: none;
	}
}

.about-page_right {
	/* gap: 1rem; */

	img {
		width: 90%;
	}
}

.right-two-img {
	display: flex;
	gap: 1rem;
}

.about-right-bottom {
	display: flex;
	/* margin-top: 3rem; */
	gap: 2rem;

	/* / */
	/**************************  IMAGE HOVER ANIMATION*****************/
	/**************************  IMAGE HOVER ANIMATION*****************/
	/*  */

	.imgAim {
		position: relative;
		z-index: 0;

		img {
			width: 100%;
			height: 80%;
		}
	}

	/************************ IMAGE HOVER ANIMATION ENDS ***************************/

	ul {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: start;
		gap: 1.4rem;
		/* padding-top: 1rem; */
		li {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		button {
			padding: 1rem 4rem;
		}
	}
}
.about-page_right {
	width: 50%;
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	/* grid-template-rows: repeat(2, 1fr); */
	grid-column-gap: 3rem;
	grid-row-gap: 2rem;

	.mechanical_img,
	.capentry_img {
		position: relative;
		z-index: 0;
	}
	.init_img {
		width: 100%;
		height: 100%;
	}

	.mechanical_img:hover::before {
		content: "Mechanical Engineering";
		display: grid;
		place-content: center;
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: #2708a5b3;
		border-radius: 15px;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;
	}
	.capentry_img:hover::before {
		content: "Capentry";
		display: grid;
		place-content: center;
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: #2708a5b3;
		border-radius: 15px;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;
	}

	.mechanical_img::before,
	.capentry_img::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #2708a5e0;
		border-radius: 15px;
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}
}

@media (max-width: 767px) {
	.about-page {
		flex-direction: column;
		padding-inline: 1rem;
	}

	.home_about_left {
		width: 100%;
		h1 {
			font-size: 30px;
			line-height: 40px;
		}
	}

	.about-page_right {
		width: 100%;
	}

	.about-right-bottom {
		flex-direction: column;
		.imgAim {
			position: relative;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.about-apply-section {
	flex-direction: row-reverse;
	background-image: url(img/apply-about.png);
	padding-right: 12rem !important;
	/* padding-right: 2rem !important; */
	/* padding: 2rem calc((100vw - 1250px) / 3); */

	padding: 0;
	width: 100%;

	.about-apply-left {
		width: 40% !important;
	}

	.about-apply-right {
		background-color: #2708a5e0;
		/* height: 99vh; */
		padding-left: 8rem;
		padding-right: 2rem;
		padding-block: 5rem;
		/* width: 90%; */

		.apply-right-heading {
			h1 {
				font-size: 32px;
				line-height: 45px;
			}
		}

		.apply-tackle {
			margin-top: 3rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 10px;
			grid-row-gap: 2rem;

			.tacle-one {
				display: grid;
				gap: 10px;

				h2 {
					font-size: 22px;
				}

				p {
					line-height: 25px;
					font-size: 14px;
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.about-apply-section {
		flex-direction: column;
		padding-right: 0 !important;
		padding-left: 0 !important;
		padding: 0;
		padding-top: 4rem;
		width: 100%;

		.about-apply-left {
			width: 100% !important;
		}

		.about-apply-right {
			background-color: #2708a5e0;
			padding-left: 1rem;
			padding-block: 5rem;
		}
	}
}

.improve-live {
	background-color: #2708a5;
	color: #fff;
	padding-inline: 10rem;
	padding-block: 4rem;

	h1 {
		font-size: 2.8125rem;
		font-weight: 600;
		width: 44.625rem;
		line-height: 3.5rem;
	}
}

@media (max-width: 1024px) {
	.improve-live {
		padding-inline: 1rem;
		/* padding-block: 4rem; */

		h1 {
			font-size: 1.7rem;
			text-align: center;
			font-weight: 600;
			width: auto;
			line-height: 2.2rem;
		}
	}
}

.four-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 3rem;
	grid-row-gap: 0px;
	margin-block-start: 5rem;
	/* border: 2px solid red; */
	align-items: start;

	.icon-box {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 1rem;
		/* border: 2px solid yellow; */

		p {
			line-height: 2rem;
		}
	}
}

@media (max-width: 1024px) {
	.four-grid-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 3rem;
		grid-row-gap: 2rem;
		margin-block-start: 3rem;
		text-align: center;

		.icon-box {
			align-items: center;

			p {
				line-height: 1.3rem;
			}
		}
	}
}

.programs-breadcrumb {
	background-image: url(img/programs-bread.png);
}

.programs-container {
	display: flex;
	padding-inline: 12rem;
	padding-block: 6rem;
	align-content: center;
	justify-content: center;
	width: 100%;
	gap: 1.5rem;

	img {
		width: 100%;
	}

	.programs-box {
		max-width: 33%;
		/* margin-inline: 3rem; */
		-webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
		-moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.67);
		box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.67);

		.programs-content {
			padding-inline: 1rem;
			padding-block: 2rem;

			.program-info {
				display: flex;
				justify-content: start;
				align-items: center;
				gap: 1rem;

				.program-month {
					display: flex;
					flex-direction: column;
					align-items: center;
					background-color: #000;
					padding: 10px;
					gap: 3px;
					p {
						color: #fff;
						font-weight: 600;
					}
					span {
						height: 1px;
						width: 20px;
						background-color: #fff;
					}
				}

				.program-name-and-location {
					display: flex;
					flex-direction: column;
					gap: 10px;

					h3 {
						font-size: 18px;
					}

					.program-location {
						display: inline-flex;
						gap: 10px;

						.time,
						.location {
							display: inline-flex;
							font-size: 14px;
							font-weight: 500;
							gap: 2px;
						}
					}
				}
			}

			> p {
				font-weight: 500;
				line-height: 30px;
				margin-block: 15px;
			}

			.program-btn {
				display: flex;
				justify-content: space-between;

				button {
					background-color: #2708a5;
					color: #fff;
					padding: 0.8rem 2.5rem;
					border-radius: 20px;
					border: none;
					cursor: pointer;

					&:hover {
						background-color: #2708a5bf;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.programs-container {
		padding-inline: 1rem;
		flex-direction: column;

		.programs-box {
			max-width: 100%;
		}
	}
}

.contact-breadcrumb {
	background-image: url(img/contact-bread.png);
}

.contact-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 4rem;
	/* padding-inline: calc((100vw - 600px) / 5); */
	padding-inline: 12rem;
	padding-block: 6rem;

	.contact-us {
		width: 50%;
		.contact-message {
			h1 {
				font-size: 35px;
			}

			p {
				font-size: 16px;
				line-height: 32px;
				margin-top: 1rem;
			}
		}

		.contact-info {
			display: flex;
			flex-direction: column;
			width: 40%;
			/* align-items: center; */
			gap: 1rem;
			margin-top: 3rem;

			.contact_box_div {
				display: flex;
				align-items: start;
				padding: 1.5rem;
				border-radius: 12px;
				width: 500px;
				gap: 1rem;
				background-color: #fff;
				box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

				&:hover {
					transition: all 0.5s ease-in-out;
					box-shadow: 0px 0px 0px #d9d9d900, 0px 0px 0px #ffffff00;
				}

				i {
					background-color: #e5e7ff;
					padding: 1rem;
					font-size: 20px;
					border-radius: 50%;
					color: #2708a5;
				}

				.contact_text_left {
					h2 {
						font-size: 20px;
						font-weight: 600;
					}
					p {
						font-size: 16px;
						font-weight: 500;
						padding-top: 15px;
						line-height: 25px;
						/* color: #222222; */
					}
				}
			}

			.map-img {
				width: 100%;
				min-height: 300px;
			}
		}
	}

	.contact-form {
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		width: 50%;
		/* max-width: 500px; */
		form {
			display: flex;
			flex-direction: column;
		}
	}

	.input-group {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}

	.input-item {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-bottom: 15px;
	}

	.input-item label {
		margin-bottom: 5px;
		font-weight: bold;
	}

	.input-item input,
	.input-item textarea {
		padding-inline: 10px;
		padding-block: 20px;
		border: 1px solid #cccccc7b;
		border-radius: 4px;
		font-size: 16px;
	}

	button {
		margin-top: 3rem;
		padding: 10px 15px;
		border: none;
		border-radius: 4px;
		background-color: #2708a5;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}

	button:hover {
		background-color: #2708a5c5;
	}
}

.map {
	padding-inline: 12rem;
	padding-block: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.contact-breadcrumb {
		h1 {
			font-size: 35px;
		}
	}

	.contact-container {
		flex-direction: column;
		padding-block: 3rem;
		padding-inline: 1rem;

		gap: 4rem;

		.contact-us {
			width: 100%;

			.contact-info {
				width: 100%;

				.contact_box_div {
					width: 350px;
					max-width: 350px;
				}
			}
		}

		.contact-form {
			width: 100%;
		}

		.input-group {
			flex-direction: column;
		}
	}

	.map {
		padding-inline: 1rem;
		padding-block: 2rem;
	}
}

.excos-breadcrumb {
	background-image: url(img/escos-bread.png);
}

.excos-main {
}

.excos-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	/* margin-block: 3rem; */
	padding-inline: 12rem;
	padding-block: 5rem;

	img {
		width: 30%;
	}

	.excos-content {
		line-height: 30px;
	}
}

.excos-container-row {
	flex-direction: row-reverse;
	background-color: #f9f9f9;
}

@media (max-width: 1024px) {
	.excos-breadcrumb {
		h1 {
			font-size: 25px;
		}
	}

	.excos-container {
		flex-direction: column;
		padding-inline: 1rem;
		padding-block: 3rem;

		img {
			width: 70%;
		}

		.excos-content {
			line-height: 30px;
		}
	}

	.excos-container-row {
		background-color: #f9f9f9;
	}
}
